
<div class="row">
  <div class="col-md-2"></div>
  <div class="card card-body bg-light">
    <form class="form-horizontal">

        <div class="form-group">
            <label>Name</label>
            <input  [(ngModel)]="name" [ngModelOptions]="{standalone:true}" type="text" class="form-control" placeholder="Name">
        </div>

        <div class="form-group">
          <label>Address</label>
          <input  [(ngModel)]="address"  [ngModelOptions]="{standalone:true}"   type="text" class="form-control" placeholder="Address">
      </div>

      <div class="form-group">
        <label>Mobile</label>
        <input  [(ngModel)]="mobile"   [ngModelOptions]="{standalone:true}"   type="text" class="form-control" placeholder="Mobile">
    </div>

    <br/>

    <div class="form-group">
      <button  type="reset" class="btn btn-danger pull-right" (click)="clearFeilds()">Clear</button>&nbsp;
      <button  type="button" class="btn btn-primary pull-right" (click)="save()">Save</button>
    </div>

    </form>
  </div>

</div>





<div>
  <div class="col-md-7"></div>
  <h4>EMPLOYEE LIST</h4>
  <hr/>

  <div class="card card-body bg-light">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">EmpID</th>
          <th scope="col">Emp_Name</th>
          <th scope="col">Emp_Address</th>
          <th scope="col">Emp_Mobile</th>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let EmployeeDetails of EmployeeArray">
          <th scope="row">{{EmployeeDetails.employeeId}}</th>
          <td>{{EmployeeDetails.name}}</td>
          <td>{{EmployeeDetails.address}}</td>
          <td>{{EmployeeDetails.mobile}}</td>
          <td>
            <button class="btn btn-primary" (click)="setUpdate(EmployeeDetails)">Edit</button>&nbsp;
            <button class="btn btn-danger" (click)="deleteEmployee(EmployeeDetails)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
